<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/Popcorns-cuate.png" alt="" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-3" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/movies"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            >Movies</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="movies/plays"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            >Plays</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="dashboard/history"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            >Dashboard</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
