@import "../../../variable.scss";
.card {
  border: 5px solid $background-secendory;
  border-radius: 11px;
  width: 100%;
}
.card-body {
  background-color: $background-secendory;
  color: $secendory-color;
}
.button {
  width: 100%;
}
@media (max-width: 992px) {
  .card-title {
    font-size: 13px;
  }
  .button {
    font-size: 15px;
  }
}
