/* You can add global styles to this file, and also import other style files */
@import "./variable.scss";
body {
  background-color: $secendory-color;
}
.button {
  background-color: $primary-color;
  color: $secendory-color;
}

.text {
  color: $secendory-color;
}
.heading {
  font-size: 20px;
  font-weight: 400;
}
