<div class="container">
  <div class="main-content mt-3">
    <div class="innerContainer">
      <div class="movie">
        <h3 class="movieTitle">{{ movieData.name }}</h3>
        <div class="movieDetails">
          DIRECTOR : {{ movieData.director }} <br />STARCASTS :
          {{ movieData.starcast }}
          DURATION : {{ movieData.duration }}-{{ movieData.time }}
        </div>
      </div>

      <!-- Showing a static legend bar -->
      <div class="legend mt-4">
        <span class="fa-solid fa-couch freeSeat px-2"></span> FREE
        <span class="fa-solid fa-couch reservedSeat px-2"></span>
        TAKEN
        <span class="fa-solid fa-couch selectedSeat px-2"></span>
        SELECTED
      </div>

      <p class="font14 mt-4">SCREEN THIS WAY</p>
      <div class="screen"></div>

      <!-- Generate the seating grid -->
      <div *ngFor="let row of rows">
        <span
          class="seat"
          *ngFor="let col of cols"
          (click)="seatClicked(row + col)"
          [ngSwitch]="getStatus(row + col)"
        >
          <span
            *ngSwitchCase="'selected'"
            class="fa-solid fa-couch selectedSeat m-2"
          ></span>
          <span
            *ngSwitchCase="'reserved'"
            class="fa-solid fa-couch reservedSeat m-2"
          ></span>
          <span *ngSwitchDefault class="fa-solid fa-couch freeSeat m-2"></span>
        </span>
      </div>

      <!-- Action buttons -->
      <div class="buttonBar mt-5">
        <button (click)="clearSelected()" class="btn btn-danger">Clear</button>
        <button (click)="showSelected()" class="btn button mx-3">
          Buy Tickets
        </button>
      </div>
    </div>
  </div>
</div>
