@import "../../variable.scss";
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}

/* End CSS Helpers */
.container .main-content {
  background: $background-secendory;
  border-radius: 10px;
}
.innerContainer {
  color: #fff;
  text-align: center;
  padding: 4%;
}
.movie {
  margin: -10px -5px 10px -5px;
  height: 70px;
}
.movieDetails {
  font-size: 15px;
  margin-top: -3px;
}
.movieTitle {
  color: $primary-color;
  font-size: 20px;
  padding-top: 10px;
  margin-top: -3px;
}
.seat {
  padding-right: 5px;
}

.legend {
  font-size: 14px;
}
.legend > .padding-left {
  padding-left: 15px;
}
.screen {
  background: $primary-color;
  height: 3px;
  border-radius: 15px;
  margin: -5px 50px 10px;
  box-shadow: 0px 3px 6px #fff;
}
.reservedSeat {
  color: $primary-color;
}
.selectedSeat {
  color: #5cb85c;
}
.freeSeat {
  color: #fff;
}
